<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static\style.css" type="text/css" />
</head>

<body>
    <div id=wrapper>
        <nav>
            <a href='templates\index.html' class="nav-link">
                About Me Page
            </a>
        </nav>

        <header>
            <h1>My Blog Posts</h1>
        </header>

        <main>
            <section>
                <h2>The Rise of Protectionism</h2>
                <p>
                    This first post will probably not make much sense in the future. Nevertheless, I decided to write
                    down what
                    I've been babbling about. I hope that you'll keep supporting me and reading my posts every week. If
                    you indulge me,
                    I will do this every day…
                </p>

                <p>
                    I believe it is fair to name this period of time as "The Rise of Protectionism". There is a ongoing
                    trade war among
                    all the nations around the globe and it was started by President Trump. Imposing tariffs was a major
                    pillar of his
                    presidential campaign. As of today, even democratic presidential candidates are not mentioning if
                    they intend to
                    remove those tariffs. The reason may be the persistent trade deficit of the US economy.
                </p>

            </section>

            <aside>
                <h2>The End of Unipolar Order</h2>
                <p>
                    The United States of America (The US) has been the central player in the international system since
                    the end of World War II.
                    Also the US has been the leading actor in creation of new international organizations like the
                    United Nations, NATO,
                    IMF, and the World Bank. American diplomacy has been essential to multinational agreements on trade,
                    regional
                    security, arms control and climate. American diplomacy could and did claim to be at the center of
                    international
                    order.
                </p>

                <p>
                    We are in a process of transformation in the international order. This transformation of unipolar
                    order to
                    multipolar order is inevitable. But crucial point is the change of relations among the nations. The
                    US had been
                    gradually losing its dominant role in world affairs. A power shift among the nations has already
                    begun by the end of
                    the Cold War. The last 30 years have seen a redistribution of economic power among the world’s major
                    powers on a
                    scale that is probably never seen in history. And as of today some nations can assert independent
                    and influential
                    roles in regional economic and security developments.
                </p>
            </aside>
        </main>

        <div class="form-box">
            <h6>Subscribe to our newsletter</h6>
            <div class="form-input">
                <form>
                    <input type="email" name="email" id="email" class="email-input" placeholder="Your email" />
                    <a href="" name="button" id="button" class="button-input" value="sign Up">Sign Up</a>
                </form>
            </div>
        </div>

        <footer>
            Nothing on this Blog constitutes investment advice, performance data or any recommendation that any
            security,
            portfolio of securities, investment product, transaction or investment strategy is suitable for any specific
            person. From reading my Blog I cannot assess anything about your personal circumstances, your finances, or
            your
            goals and objectives, all of which are unique to you, so any opinions or information contained on this Blog
            are
            just that – an opinion or information. You should not use my Blog to make financial decisions and I highly
            recommended you seek professional advice from someone who is authorised to provide investment advice.
            <a href="https://www.atakandemirci.com">MY BLOG</a> &copy; Copyright 2021
        </footer>
    </div>

</body>

</html>